br ~ textarea{
  width: 200px;
}
body{
  margin: 20px;
  font-family: verdana;
}
input[type|='email']
{
  background-color: #eeeeee;
}

p, label {
  font-family: tahoma;
}
p:nth-child(3){
  color: red;
}
